.morphsearch.open {
	width: 100%;
	top: 0px;
	right: 0px;
	min-height: 40px;
	background: #f1f1f1;
	position: absolute;
	z-index: 10000;
	transform-origin: 100% 0;
	transition-property: min-height, width, top, right;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}


.morphsearch-content {
	color: #333;
	margin-top: 4.5em;
	width: 100%;
	padding: 0 10.5%;
	background: #f1f1f1;
	/* 添加这一行 */
	float: left;
	/* position: absolute; */
}

.morphsearch.open .morphsearch-content {
	height: auto;
	overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
	pointer-events: auto;
	transition: opacity 0.3s 0.5s;
}

.dummy-column {
	width: 30%;
	padding: 0 0 6em;
	float: left;
	transition: transform 0.5s, opacity 0.5s;
}

.morphsearch.open .dummy-column:first-child {
	transition-delay: 0.4s;
}

.morphsearch.open .dummy-column:nth-child(2) {
	transition-delay: 0.45s;
}

.morphsearch.open .dummy-column:nth-child(3) {
	transition-delay: 0.5s;
}

.morphsearch.open .dummy-column {
	transform: translate3d(0,0,0);
}

.dummy-column:nth-child(2) {
	margin: 0 5%;
}

.dummy-column h2 {
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 800;
	color: #c2c2c2;
	padding: 0.5em 0;
}

.round {
	border-radius: 50%;
}

.dummy-media-object {
	display: block;
	/*padding: 0.75em;
	margin: 0.3em 0;*/
	padding: 0.75em;
	margin: 2.5em 0;
	cursor: pointer;
	border-radius: 5px;
	background: rgba(118,117,128,0.05);
}

.dummy-media-object:hover,
.dummy-media-object:focus {
	background: rgba(118,117,128,0.1);
}

.dummy-media-object img {
	display: inline-block;
	width: 50px;
	margin: 10px 10px 0 0;
	vertical-align: middle;
}

.dummy-media-object h3 {
	vertical-align: middle;
	/* font-size: 0.85em; */
	font-size: 1.35em;
	display: inline-block;
	font-weight: 700;
	margin: 0 0 0 0;
	color: rgba(145,145,145,0.7);
}

.dummy-media-object:hover h3 {
	color: rgba(236,90,98,1);
}

.dummy-media-object h5 {
	vertical-align: middle;
	/*font-size: 0.85em;*/
	font-size: 0.65em;
	display: inline-block;
	font-weight: 700;
	margin: 0.75em 0;
	color: rgba(145,145,145,0.7);
}

.dummy-media-object:hover h5 {
	color: rgba(236,90,98,1);
}

@media screen and (max-width: 53.125em) {
	.morphsearch-input {
		padding: 0 25% 0 10px;
	}
	.morphsearch.open .morphsearch-input {
		font-size: 2em;
	}
	.dummy-column {
		float: none;
		width: auto;
		padding: 0 0 2em;
	}
	.dummy-column:nth-child(2) {
		margin: 0;
	}
	.morphsearch.open .morphsearch-submit {
		transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
	}
}

@media screen and (max-width: 60.625em) {
	.morphsearch {
		width: 80%;
		top: 10%;
		right: 10%;
	}
}

.links_isso {
	text-align: left;
}

.links_isso h4{
	text-align: center;
}

.tm-hero-title {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    text-align: center!important;
    box-sizing: border-box;
    margin-top: 2em;
    /*margin-bottom: .5rem;*/
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #333;
}

